{% extends "base.html"%}

{% block title %}django-files demosite{% endblock %}


{% block head %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Librarian</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if view.request.path == '/' %}class="active"{% endif %}>
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li {% if view.request.path == '/book/add/' %}class="active"{% endif %}>
          <a href="{% url 'create_book' %}">Add</a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li class="pull-right"><a href="{% url 'logout' %}">Log out</a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
