{% load i18n %}
{% load attachments %}

<table class="table table-condensed table-stripped">
  <tbody>
    {% for attachment in attachment_list %}
    <tr>
      <td>{{ attachment.description }}</td>
      <td>{{ attachment.filename }}</td>
      <td>{{ attachment.mimetype }}</td>
      <td>
        <a href="{% get_view_url attachment %}" alt="{% trans 'view' %}">
          <span class="glyphicon glyphicon-eye-open"></span>
        </a>
      </td>
      <td>
        <a href="{% get_download_url attachment %}" alt="{% trans 'download' %}">
          <span class="glyphicon glyphicon-download-alt"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
